<% layout('layout') -%>
<% script('http://code.jquery.com/jquery-1.9.1.js') -%>
<% script('js/jquery.stopwatch.js') -%>

<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.username %>.</h2>
	<div id="time">00:00:00</div>
	<input type="button" id="queue" value="Start Game" />
	<script type="text/javascript">
		$(function() {
		  $( "#queue" ).click(function() {
		   	$('#time').stopwatch().stopwatch('start');
		    $.post( "/queue");
		  });
		});
	</script>
<% } %>
