<!DOCTYPE html>
<html>
	<head>
		<title>Xadrez Maroto</title>
		<%-scripts%>
		<%-stylesheets%>
		<% stylesheet('/css/styles.css') -%>
	</head>
	<body>
		<div id="wrapper">
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
		 </div>
	</body>
</html>
